$primaryColor: #4527a4;

.prefixNowEditing {
  outline: 2px solid $primaryColor;
}

.prefixInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}
.component-controll-margin {
  margin: 8px 0 !important;
}